.main-body{
    justify-content: center;
    margin: 12vh 12vw;
    color: rgb(171, 180, 180);
}
.btn-class{
    color: black;
    background-color: rgb(39, 236, 236);
    padding: .6vh .6vw;
    border-radius: 3rem;
    float: right;
}
.btn-class:hover{
    padding: .6vh .6vw;
    border-radius: 3rem;
    color: rgb(65, 65, 210);
    background-color: rgb(255, 255, 255);
}
.sec-body{
    margin-left: 30vw;
}
.list-user{
    margin-top: .8vh;
    margin-bottom: 6vh;
}
#left{
    float: left;
}
#right{
    float: right;
}
.diff{
    list-style-type: none;
    margin-bottom: 4vh;
    font-weight: bolder;
    color: black;
}